.userPage {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.block {
  width: 95%;
  border: 1px solid #36ad06;
  padding: 20px;
  margin-top: 30px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: row;
  &.blockInfoUser {
    height: 10%;
  }
  &.blockActionWithAccount {
    height: 30%;
    align-items: baseline;
    justify-content: center;
    gap: 150px;
    & .container {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}
.mainBlockInfo {
  display: flex;
  width: 200px;
  flex-direction: column;
  gap: 20px;
  & .textMainBlockInfo {
    font-size: 18px;
  }
  & span {
    color: #36ad06;
  }
}


.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #36ad06;
  border-radius: 5px;
  cursor: pointer;
  height: 25px;
  
  &:active {
    background-color: #36ad06;
  }
  &:hover {
    transition: 0.2s;
    background-color: #e9fee2;
  }
  &.logout {
    border: 1px solid #e90808;
    &:active {
      background-color: #e9080875;
    }
    &:hover {
      transition: 0.2s;
      background-color: #e908083f;
    }
  }
  &.btnBlockActionWithAccount {
    border: 1px solid #e90808;
    width: 100%;
    &:active {
      background-color: #e9080875;
    }
    &:hover {
      transition: 0.2s;
      background-color: #e908083f;
    }
  }
}

.basicInput {
  height: 30px;
}

.errorText {
  color: red;
  font-size: 14px;
}
