.userPage {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginSpan {
  color: gray;
}

.block {
  width: 95%;
  border: 1px solid #36ad06;
  padding: 20px;
  margin-top: 30px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: row;
  &.blockInfoUser {
    height: 10%;
  }
  &.blockActionWithAccount {
    height: 30%;
    align-items: baseline;
    justify-content: center;
    gap: 150px;
    & .container {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
  &.blockActionWithUsers {
    height: 30%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    position: relative;

    & .inputsShare {
      position: absolute;
      top: -10px;
      display: flex;
      flex-direction: row;
      gap: 15px;
      & .inputShare {
        height: 15px;
        width: 190px;
      }
    }
  }
  &.blockActionWithSaleProduct {
    height: 30%;
    width: 95%;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
  }
}
.mainBlockInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  & .textMainBlockInfo {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
  }
  & .adminSpan {
    color: #36ad06;
    margin-left: 5px;
  }

  .defInfo {
    display: flex;
    flex-direction: column;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #36ad06;
  border-radius: 5px;
  cursor: pointer;
  height: 25px;

  &:active {
    background-color: #36ad06;
  }
  &:hover {
    transition: 0.2s;
    background-color: #e9fee2;
  }
  &.btnWatchSaleProduct {
    height: 30px;
    background-color: #e9fee2;
    width: 90%;
    &:hover {
      transition: 0.2s;
      background-color: #d6ffc8;
    }
  }
  &.logout {
    border: 1px solid #e90808;
    width: 200px;
    &:active {
      background-color: #e9080875;
    }
    &:hover {
      transition: 0.2s;
      background-color: #e908083f;
    }
  }
  &.btnBlockActionWithAccount {
    border: 1px solid #e90808;
    width: 100%;
    &:active {
      background-color: #e9080875;
    }
    &:hover {
      transition: 0.2s;
      background-color: #e908083f;
    }
  }
}

.cardSaleProduct {
  display: flex;
  flex-direction: column;
  color: black;
  min-width: 180px;
  min-height: 95%;
  border: 1px solid #36ad06;
  border-radius: 4px;
  padding: 5px;
  align-items: center;
  position: relative;
  & .textBlockProduct {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 35%;
    left: 10px  ;
    & p {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 18px;
    }
    & .priceP {
      font-weight: 700;
    }
  }
}

.basicInput {
  height: 30px;
}

.errorText {
  color: red;
  font-size: 14px;
}

.titleWindow {
  font-size: 20px;
  color: #36ad06;
  margin-bottom: 20px;
}

.oneCardUser {
  width: 150px;
  padding: 10px;
  border-radius: 10px;
  border: 3px solid #d6ffc8;
  cursor: pointer;
  &:hover {
    transition: 0.2s;
    background-color: #e9fee2;
  }
  &:active {
    transition: 0.1s;
    background-color: #d6ffc8;
    border-radius: 15px;
  }
  & p {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
